


{% extends 'base.html.twig' %}



  {% block navigation %}
{% include 'AssuranceFrontBundle:default:navigation.html.twig' %}
{% endblock %}



{% block from %}

	<h4>CSATunisien.com est un comparateur d'assurance (Auto, Moto, Habitation).</h4></br>
	Notre site est 100% indépendant et impartial. Nous n'avons aucun lien capitalistique avec les sociétés de notre panel.</br></br>

	Avec CSATunisien.com, comparez facilement les offres de nos partenaires pour trouver le produit qui vous correspond .</br></br>

	Enfin, la confidentialité de vos données est au centre de nos préoccupations.</br></br>

	Alors n'attendez plus, vous pouvez économiser en moyenne 43%* sur votre assurance auto.</br></br>

	CSATunisien.com le comparateur d'assurance au service des internautes</br></br>

	Le marché de l'assurance est très complexe avec une multitude d'acteurs : compagnies d'assurance, courtiers, mutuelles, acteurs internet, etc.</br></br>
	De plus il est difficile de comparer les contrats d'assurance dans tous leurs aspects : le prix, les franchises, les garanties, les services.</br></br>

	La mission du site CSATunisien.com est d'apporter plus de transparence et de simplicité dans l'assurance.</br></br>

	Il permet de comparer facilement les tarifs, les garanties, les franchises et les services de grands assureurs auto,moto, habitation .</br></br>
	CSATunisien.com vous aide ainsi à trouver l'assurance la mieux adaptée à vos besoins au meilleur tarif parmi celles proposées par nos partenaires.</br></br>

             



{% endblock %}



